:root{
    --tobo-backgorund: #f6f8f9;
    --tobo-primaryblack: #030303;
    --tobo-secondaryblack:#444851;
    --tobo-firstbutton: #47adf1;
    --tobo-goals:#9c72e4;
    --tobo-recruiting: #64c0a9;
    --tobo-mobile: #f29e33;
    --tobo-website: #d863a1;
    --tobo-do:#b4e2d8;
    --tobo-undo: #f09591;
}
/* #region utility classes */
.container{
    background-color: var(--tobo-backgorund);
    width:80%;
    margin:auto;
}
body{
    background-color: var(--tobo-backgorund);
}
/* #endregion utility classes */


/* #region header */

.header{
    background-color: white;
}
.logo_img{
    display:inline-block;
    vertical-align: middle;
    padding-top: 1rem;
    padding-left: 1rem ;
    padding-bottom: 1rem;
}
.logo_txt{
    display:inline-block;
   vertical-align: middle;
   padding-left:2%;
   color: var(--tobo-primaryblack);
   background-color: white;
  }

/* #endregion header */
/* #region main */

#app_main{
    width:700px;
    height: 900px;
    background-color: white;
    margin:10% 40%;
    border-radius:10%;
    display:inline-block
    }

    .button{
        margin: 10%;
        margin-left:20%;
    }

    .task{
        background-color: var(--tobo-firstbutton);
        border: var(--tobo-firstbutton);
        border-radius: 10%;
        padding:5px
    }
    .section{
        border: var(--tobo-firstbutton);
        border-radius: 10%;
        padding:5px
    }

.list{
    margin: 10%;
    margin-left: 20%;
}
h3::before{
    content:'\25BE';
}
.done::before{
    content:'\2611';
    
}
.check::before{
    content: '\2705';
    display: inline-block;
}
.cross::before{
    content:'\274C';
}
.editorial{
    background-color: var(--tobo-firstbutton);
    border-color: var(--tobo-firstbutton);
    border-radius: 30%;
    display: inline-block;
    color:white
}
#goals{
    display: inline;
}
.goals{
    background-color: var(--tobo-goals);
    border-color: var(--tobo-goals);
    border-radius: 30%;
    display: inline-block;
    color:white

}
.recruiting{
    background-color: var(--tobo-recruiting);
    border-color: var(--tobo-recruiting);
    border-radius: 30%;
    display: inline-block;
    color:white
}
    .mobile{
        background-color: var(--tobo-mobile);
    border-color: var(--tobo-mobile);
    border-radius: 30%;
    display: inline-block;
    color:white
    }
.website{
    background-color: var(--tobo-website);
    border-color: var(--tobo-website);
    border-radius: 30%;
    display: inline-block;
    color:white
}
.sales{
    background-color: rgb(162, 233, 55);
    border-color: rgb(162, 233, 55);
    border-radius: 30%;
    display: inline-block;
    color:white

}
/* #endregion main */